<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Page Admin</h1><br><br>
    <a href="{{ url_for('app.demandes') }}">Demande</a>
    <a href="{{ url_for('app.list_mecaniciens') }}">Gestion mécaniciens</a>
    <a href="{{ url_for('app.list_pieces') }}">Gestion pièces</a>
    <a href="{{ url_for('routes.logout') }}" onclick="return confirm('Êtes-vous sûr de vouloir vous déconnecter ?');">Se déconnecter</a>
</body>
</html>